{% extends "base.html" %}

{% block content %}
<div class="container host-detail-container">
    <h3 style="margin-bottom: 30px;">Cluster Details: {{ cluster.cluster_name }}</h3>
    <ul class="list-unstyled">
        <li><strong>vCenter Name:</strong> {{ vcenter_name }}</li>
        <li><strong>Cluster Name:</strong> {{ cluster.cluster_name }}</li>
        <li><strong>Total Memory (GB):</strong> {{ cluster.cluster_total_memory }}</li>
        <li><strong>Memory Usage (GB):</strong> {{ cluster.cluster_memory_usage }}</li>
        <li><strong>Free Memory (GB):</strong> {{ cluster.cluster_free_memory }}</li>
        <li><strong>Memory Usage (%):</strong> {{ '%0.2f' | format(cluster.memory_usage_percentage) }}</li>
        <!-- Additional cluster attributes -->
    </ul>
    {% if cluster.hosts %}
    <h4>Related Hosts</h4>
    <ul class="list-unstyled">
        {% for host in cluster.hosts %}
        <li><a href="{{ url_for('host_detail', vcenter_name=vcenter_name, host_id=host.host_id) }}" style="color: black;">{{ host.host_name }}</a></li>

        {% endfor %}
    </ul>
    {% endif %}
    <a href="/{{ vcenter_name }}">Back to vCenter Overview</a> | <a href="/">Back to Dashboard</a>
</div>
{% endblock %}
