{% extends "base.html" %}

{% block content %}
<div class="container host-detail-container"> <!-- Use a custom class for styling consistency -->

    <h3 style="margin-bottom: 30px;">Cluster Details: {{ cluster.cluster_name }}</h3>
    <ul class="list-unstyled">
        <li><strong>vCenter Name:</strong> {{ vcenter_name }}</li>
        <li><strong>Cluster Name:</strong> {{ cluster.cluster_name }}</li>
        <li><strong>Total Memory (GB):</strong> {{ cluster.cluster_total_memory }}</li>
        <li><strong>Memory Usage (GB):</strong> {{ cluster.cluster_memory_usage }}</li>
        <li><strong>Free Memory (GB):</strong> {{ cluster.cluster_free_memory }}</li>
        <li><strong>Memory Usage (%):</strong> {{ '%0.2f' | format(cluster.memory_usage_percentage) }}</li>
        <!-- Include any other cluster attributes here -->
    </ul>
    <a href="/{{ vcenter_name }}">Back to vCenter Overview</a> | <a href="/">Back to Dashboard</a>
</div>
{% endblock %}
