<!DOCTYPE html>
<html>
<head>
    <title>Host Details</title>
</head>
<body>
    <h1>Host Details: {{ host_obj.host_name }}</h1>
    <ul>
        <li>ID: {{ host_obj.host_id }}</li>
        <li>Cluster: {{ host_obj.parent_cluster.cluster_name }}</li>
        <li>IP: {{ host_obj.host_ip }}</li>
        <li>Server Model: {{ host_obj.host_server_model }}</li>
        <li>Serial Number: {{ host_obj.serial_number }}</li>
        <li>Host CPU: {{ host_obj.host_cpu }}</li>
        <li>Host Total Memory: {{ host_obj.host_total_memory }}</li>
        <li>Host Used Memory: {{ host_obj.host_memory_usage }}</li>
        <li>Host Free Memory: {{ host_obj.host_free_memory }}</li>
        <li>Host Connection State: {{ host_obj.connection_state }}</li>
        <li>ESXi Version: {{ host_obj.esx_version }}</li>
        <li>ESXi Build: {{ host_obj.esx_build }}</li>
    </ul>
    <a href="/">Back to Vcenters</a>
</body>
</html>

