{% extends "base.html" %}

{% block content %}
    <h1>Vcenter Dashboard</h1>

    <div class="content-container">
        <div class="row">
            <div class="col-12 mb-4">
                <form action="/" method="post" class="form-inline">
                    <input type="text" name="search" class="form-control w-75" placeholder="Search...">
                    <input type="submit" value="Search" class="btn btn-primary">
                </form>
            </div>
        </div>
    
    {% if search_results %}
        <h2>Search Results:</h2>
        <ul>



            {% for result in search_results %}
                {% if result.type == "Host" %}
                    <li><a href="{{ url_for('host_detail', vcenter_name=result.vcenter_name, host_id=result.host_id) }}" style="color: black;">{{ result.display }}</a></li>
                {% elif result.type == "vCenter" %}
                    <li><a href="/vcenter/{{ result.vcenter_name }}" style="color: black;">{{ result.display }}</a></li>
                {% else %}
                    <li>{{ result.display }}</li>
                {% endif %}
            {% endfor %}


        </ul>
    {% else %}
        <!-- Assuming each vCenter is directly associated with a site -->
        <ul>
            {% for vcenter_name, vcenter_obj in vcenters_dict.items() %}
                <li>Site: {{ vcenter_obj.vcenter_site }}
                    <ul>
                        <li>Vcenter: {{ vcenter_name }}
                            <ul>
                                {% for dc_id, dc_obj in vcenter_obj.datacenters.items() %}
                                    <li>Datacenter: {{ dc_obj.datacenter_name }}
                                        <ul>
                                            {% for cluster_id, cluster_obj in vcenter_obj.clusters.items() %}
                                                <li>Cluster: {{ cluster_obj.cluster_name }}
                                                    <ul>
                                                        {% for host_id, host_obj in vcenter_obj.hosts.items() %}
                                                            <li>Host: <a href="/host/{{ vcenter_name }}/{{ host_id }}">{{ host_obj.host_name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
